.DS_Store
.pyenv/
.vscode/
poetry.lock
.history/
host_guest/setter/__pycache__
host_guest/io/__pycache__/
host_guest/energy/
host_guest/__pycache__/
tests/test.cif
tests/test_data/First_MOF.com
tests/test_data/First_MOF.vesta
tests/test_data/First_MOF.xyz
tests/test_data/First_MOF_1.mol2
tests/test_data/First_MOF_2.mol2
tests/test_data/First_MOF_3.mol2
tests/test_data/image_1/

tests/Manuscript_20240902.docx
tests/molecular_graph_similarity_methodology.docx
tests/test_data/AA.cif
tests/test_data/RUBTAK01.cif
tests/test_data/SARSUC.cif
tests/test_orb.py
tests/orb_test.py

